@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;
  overflow-y: auto;
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #7BA184;
  background-position: cover;
  color: #000000;
  animation: slideInLeft .3s ease;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formulario {
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  box-sizing: border-box;
  scroll-behavior: smooth; /* rolagem suave */
}

.campo-input {
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
  font-weight: bold;
  color: #000;
}

.campo-input input,
.campo-input select {
  padding-top: 28px;
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  box-sizing: border-box;
}

.campo-input label {
  position: absolute;
  left: 15px;
  top: 14px;
  color: #000000;
  pointer-events: none;
  display: flex;
}

.campo-input .char {
  display: inline-block;
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.campo-input .input:focus + label .char,
.campo-input .input:valid + label .char {
  transform: translateY(-20px);
  font-size: 14px;
  color: black;
  padding: 0 2px;;
  padding: 0 2px;
}
/* Mantém a cor personalizada mesmo com autofill do Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #56715c !important; /* mesma cor que você definiu */
  -webkit-text-fill-color: black !important; /* mantém o texto preto */
  transition: background-color 5000s ease-in-out 0s; /* truque pra forçar a cor */
  box-shadow: 0 0 0px 1000px #56715c inset !important; /* aplica a cor no fundo */
}

.campo-input input,
.campo-input select {
  width: 220px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  background-color: #56715c;
  color: black;
  font-family: 'Roboto', sans-serif;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.titulo{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0px;
  text-align: left;
}

button {
  padding: 10px;
  align-self: center;
  width: 160px;
  border-radius: 10px;
  background-image: linear-gradient(#193D2A, #193D2A);
  border: solid 1px #193D2A;
  border-right-width: 4px;
  border-bottom-width: 4px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

input {
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  background-color: #56715c;
}

h1 {
    font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.imagem {
  border-radius: 200px 0px 0px 200px;
  width: 50%;
  height: 100vh;
  background-color: #193D2A;
}

a {
    color: #193D2A;
}

p {
    color: white;
}

.prestador {
    border: solid 1px #ffffff;
    color: #ffffff;
    display: block;
    margin: 0 auto;
}

.imagem img {
    margin-top: 130px;
    width: 600px;
    height: 300px;
}
input[type="checkbox"] {
  cursor: pointer;
}

.campo-input select::-webkit-dropdown-arrow {
  display: none;
}

.campo-input select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10'%3e%3cpath fill='white' d='M7 10L0 0h14z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
}

/* sai indo para a ESQUERDA (contrário) */
.slide-out-left {
  animation: slideLeft .3s ease forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}