
*{
  margin: 0px;
  padding: 0px;
}
header {
  background-color: #27473a;
  color: white;
  display: flex;
  align-items: center;
  padding: 4px 30px;
}

header img{
  width: 110px;
  height: 45px;
}

.categorias {
  text-align: left;
  padding: 50px 100px;
}

.categorias h2 {
  color: #335f4c;
  font-size: 50px;
  margin-top: -10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
  justify-items: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 35px;
}

.categoria {
  background-color: #335f4c;
  border-radius: 15px;
  padding: 25px 10px;
  width: 150px;
  text-align: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.categoria:hover {
  transform: translateY(-5px);
  background-color: #2b5242;
}

.categoria img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
  filter: brightness(0) invert(1); 
}

.categoria p {
  color: white;
  font-size: 0.9rem;
  margin: 0;
}


.quadrado2{
  justify-content: center;
  width: 100%;  
  height: 720px; 
  background: #0f2c1d no-repeat right; 
}

button.btn-continue {
  display: block;
  margin: 30px auto;
  padding: 12px 30px;
  background-color: #27473a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 30px;
}

a{
  text-decoration: none;
  color: white;
}