body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: 400px;
  font-family: 'Roboto', sans-serif;
  color: #0b2a1c;
  background-color: #f9f9f9;
  line-height: 1.8;
}

.top-bar-como-usar {
  /*background-color: #0b2a1c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;*/
    background-color: #193D2A;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

header img{
  width: 1px;
  height: 1px;
}


.logo img {
  width: 200px;
  height: 70px;
  margin-left: 15px;
}

.bold {
  font-weight: bold;
}

.content h2 {
  display: flex;
  margin-top: 40px;
  color: #0b2a1c;
  width: 100%;
  height: 40px;
}

.content li {
  display: flex;
  margin-bottom: 20px;
  color: black;
  line-height: 1.5;
  padding: 8px;
}

.barra01{
  width: 100%;
  display: flex;
  height: 20px;
  background-color: #7BA184;
  margin: 0px;
}

.barra02{
  width: 100%;
  display: flex;
  height: 20px;
  background-color: #34614D;
  margin: 0px;
}

.content p{
  color: black;
  line-height: 1.8;
}

.p1 p {
  color: black;
  line-height: 2.0;
  margin: 0px 50px 20px 50px;
  text-align: justify;
}

.content h2{
  margin-left: 50px;
}

.content p{
  margin: 0px 50px 0px 50px;
  text-align: justify;
}

ol {
  margin: 0px 50px 0px 50px;  
}