* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #224C36; /* Verde escuro */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}

header h1 {
  font-family: 'Georgia', serif;
  letter-spacing: 2px;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  border-radius: 25px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  padding: 8px 16px;
  outline: none;
  width: 200px;
}

.search-bar button {
  border: none;
  background: transparent;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}

main {
  max-width: 700px;
  margin: 30px auto;
  background: white;
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

main h2 {
  margin-bottom: 20px;
  color: #224C36;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card:last-child {
  border-bottom: none;
}

.card img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
}


.card .info h3 span {
  color: #e1b12c;
  font-size: 15px;
}

.card .info p {
  font-size: 14px;
  color: #666;
}

a{
  text-decoration: none;
  color: inherit;
}