@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #7BA184;
  background-position: cover;
  color: #000000;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.campo-input {
  position: relative;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
  font-weight: bold;
  color: #000;
}

.campo-input input,
.campo-input select {
  padding-top: 28px;
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  box-sizing: border-box;
}

.campo-input label {
  position: absolute;
  left: 15px;
  top: 14px;
  color: #000000;
  pointer-events: none;
  display: flex;
}

.campo-input .char {
  display: inline-block;
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.campo-input .input:focus + label .char,
.campo-input .input:valid + label .char {
  transform: translateY(-20px);
  font-size: 14px;
  color: black;
  padding: 0 2px;;
  padding: 0 2px;
}

/* Mantém a cor personalizada mesmo com autofill do Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #56715c !important; /* mesma cor que você definiu */
  -webkit-text-fill-color: black !important; /* mantém o texto preto */
  transition: background-color 5000s ease-in-out 0s; /* truque pra forçar a cor */
  box-shadow: 0 0 0px 1000px #56715c inset !important; /* aplica a cor no fundo */
}

.campo-input input,
.campo-input select {
  width: 220px;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  background-color: #56715c;
  color: black;
  font-family: 'Roboto', sans-serif;
  outline: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.titulo {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 0px;
  text-align: left;
}

button {
  padding: 10px;
  align-self: center;
  width: 160px;
  border-radius: 10px;
  background-image: linear-gradient(#193D2A, #193D2A);
  border: solid 1px #193D2A;
  border-right-width: 4px;
  border-bottom-width: 4px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

input {
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  background-color: #56715c;
}

h1 {
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}


.imagem {
  border-radius: 0px 200px 200px 0px;
  width: 50%;
  height: 100vh;
  background-color: #193D2A;
}

a {
  color: #193D2A;
}

p {
  color: white;
}

.prestador {
  border: solid 1px #ffffff;
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.imagem img {
  margin-top: 130px;
  width: 400px;
  height: 400px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #56715c !important; 
  -webkit-text-fill-color: black !important; 
  transition: background-color 5000s ease-in-out 0s; 
  box-shadow: 0 0 0px 1000px #56715c inset !important; 
}
.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #4caf50;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  font-size: 17px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 0;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}
